<div id="<%= dom_id friend %>">


  <p>
    <h1 class="display-5 fw-bold"><%= friend.first_name %> &nbsp; <%= friend.last_name %></h1>
  </p>

  <p class="lead col-md-8 fs-4">
    <%= friend.email %> | <%= friend.phone %> | <%= friend.twitter %>
  </p>
</div>
